<section class="hero is-info is-large">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <%= link_to 'Quotes', root_path, class: 'navbar-item' %> 
          <span class="navbar-burger burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroB" class="navbar-menu">
          <div class="navbar-end">
            <span class="navbar-item">
              <%= button_to "Add New Quote", new_quote_path, :method => "get",class: 'button is-info is-inverted' %>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <% @quotes.each do |quote| %>
        <div class="">
            <div class="card-content">
            <h1 class="title">
                <%= quote.content  %>
            </h1>
            <h2 class="subtitle">
                <%= quote.author %>
            </h2>

            </div>
        </div>
        <% end %>
    </div>
  </div>

  
</section>

