<section class="hero is-info is-large">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <%= link_to 'Quotes', root_path, class: 'navbar-item' %> 
          <span class="navbar-burger burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroB" class="navbar-menu">
          <div class="navbar-end">
            <span class="navbar-item">
              <%= button_to "Add New Quote", new_quote_path, :method => "get",class: 'button is-info is-inverted' %>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container">
    <%= simple_form_for @quote do |f| %>
        <div class="field">
            <div class="control">
            <%= f.input :content, input_html: {class: 'textarea'}, wrapper: false, label_html: { class: 'label'} %>
            </div>
        </div>
         <div class="field">
            <div class="control">
            <%= f.input :author, input_html: {class: 'input'}, wrapper: false, label_html: { class: 'label'} %>
            </div>
        </div>
        <%= f.button :submit, 'Create new Quote', class: "button is-primary" %>
    <% end %>    
    </div>
  </div>

  
</section>