
<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
         <%= @quote.content %>
      </h1>
      <h2 class="subtitle">
        <%= @quote.author %>
      </h2>
    </div>
  </div>
</section>